<div class='container'>
  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <li role="presentation" class="active"><a href="#">NEWS</a></li>
      <li role="presentation"><a href="#">ENTERTAINMENT</a></li>
      <li role="presentation"><a href="#">FASHION & BEAUTY</a></li>
      <li role="presentation"><a href="#">LIFESTYLE</a></li>
      <li role="presentation"><a href="#">BOOKS</a></li>
    </ul>
  </nav>

</div>
