<div class="row">
  <div class="col-sm-6">
    <img src="img/bridge.jpeg" width="450px">
  </div>
  <div class="col-sm-6">
    <h3>Article About Bridges</h3>
    <p>sollicitudin, a tempus justo euismod. Nulla sit amet feugiat erat. Integer vel dictum ligula. Aliquam laoreet lacinia imperdiet. Aliquam rutrum nec nunc at consectetur. Fusce ac iaculis nulla. Nullam rutrum, augue eget commodo egestas, ipsum nulla tempus nunc, ac pellentesque ex neque at felis. Vivamus lacinia lobortis diam, sit amet pharetra augue semper ac. Duis orci mauris, commodo et tristique vel, congue vel quam. Cras nec interdum neque. Curabitur finibus ac odio non blandit. Donec dignissim quam vel auctor interdum. Mauris cursus eros quis elit commodo, quis condimentum massa tempor. Phasellus aliquam, nibh at cursus elementum, metus mi viverra dolor, eget molestie ex nisl et enim. Fusce varius porttitor risus nec rhoncus.</p>
  </div>
</div>
